fastapi
uvicorn[standard]

qdrant-client

pydantic
python-multipart

pypdf2
python-docx
python-pptx
beautifulsoup4

langdetect
fastlangid
fasttext-wheel

sentence-transformers
numpy
tqdm

requests
ollama
